
.main {
    width: max-content;
    height: max-content;
    background-image: url("/resources/images/baram.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 1px;
}

.title {
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    padding: 1px;
}


.tour {
    width: 100%;
    height: 300px;
    background-image: url("/resources/images/main.jpeg");
    /*float:right;*/
    /*clear: both;*/
}

.food {
    width: 100%;
    height: 300px;
    background-image: url("/resources/images/title.jpeg");
    background-size: cover;
    /*float:right;*/
    /*clear: both;*/
}

.festival {
    width: 100%;
    height: 300px;
    background-image: url("/resources/images/qq.jpeg");
    background-size: cover;
    /*float:right;*/
    /*clear: both;*/
}
